.sidebar {
    display: flex;
    flex: 0.35;
    height: 100vh;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202225;
        padding: 7px 15px;
    }

    .serverIcon {
        width: 60px;
        height: 60px;
        background-color: #36393e;
        border-radius: 999px;
        margin-bottom: 10px;
        position: relative;
        margin-top: 7px;

        img {
            position: absolute;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }

    .sidebarRight {
        background-color: #2e3035;
        width: 300px;
        position: relative;

        .sidebarTop {
            color: white;
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;
        }

        .sidebarChannels {
            padding: 13px;

            .sidebarChannlesHeader {
                color: white;
                justify-content: space-between;
                display: flex;
                margin-top: 5px;
                .sidebarHeader {
                    display: flex;
                }
                .sidebarAddIcon {
                    cursor: pointer;
                }
            }
    
        }

        .sidebarFooter {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding-bottom: 10px;
            // border-top: 1px solid #000000;
            background-color: #292b2f;

            .sidebarAccount {
                padding:10px 10px;
                display: flex;
                align-items: center;
                

                img {
                    width: 40px;
                    height: 40px;
                    border-radius:50%;
                }

                .accountName {
                    margin-left: 5px;
                    font-size: 90%;
                    font-weight: 500;

                    h4 {
                        // font-size: 80%;
                        // font-weight: 500;
                        color: white;    
                    }

                    span {
                        color: #77797d;
                    }
                }
            }

            .sidebarVoice {
                // padding:10px 0px;
                gap: 7px;
                display: flex;
                align-items: center;
                color: #bcbec2;
                
                .MuiSvgIcon-root {
                    cursor: pointer;
                }
            }
        }
    }


}